Repository nil-malh/cucumber-reportr: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, Java Backend, React Frontend

codecov.yml:

codecov:
  token: CODECOV_TOKEN # Set this as a repository secret
  
  # Basic configuration
  require_ci_to_pass: yes
  wait_for_ci: yes
  max_report_age: 24
  archive:
    uploads: yes

  # Notification settings
  notify:
    after_n_builds: 2  # Wait for both frontend and backend coverage
    countdown: 60s     # Wait 60 seconds for uploads
    delay: 10s         # Delay notifications by 10 seconds

# Coverage configuration
coverage:
  precision: 2
  round: down
  range: "70...100"

  # Status checks for pull requests
  status:
    project:
      default:
        # Overall project coverage target
        target: 80%
        threshold: 2%  # Allow 2% drop in coverage
        base: auto
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
      
      backend:
        # Java backend coverage
        target: 85%
        threshold: 3%
        flags:
          - backend
        paths:
          - "src/main/java"
          - "src/test/java"
        if_no_uploads: error
      
      frontend:
        # React frontend coverage
        target: 75%
        threshold: 3%
        flags:
          - frontend
        paths:
          - "front/src"
        if_no_uploads: error

    patch:
      default:
        # Coverage for new code in PRs
        target: 80%
        threshold: 5%
        base: auto
        if_no_uploads: error
        if_not_found: success
      
      backend:
        target: 85%
        threshold: 5%
        flags:
          - backend
        paths:
          - "src/main/java"
      
      frontend:
        target: 75%
        threshold: 5%
        flags:
          - frontend
        paths:
          - "front/src"

# Component definitions for the monorepo
component_management:
  individual_components:
    - component_id: backend
      name: "Java Backend"
      paths:
        - "src/main/java/**"
        - "src/test/java/**"
        - "target/**"
      
    - component_id: frontend
      name: "React Frontend"
      paths:
        - "front/src/**"
        - "front/coverage/**"

# Flag configuration
flags:
  backend:
    paths:
      - src/main/java
      - src/test/java
    carryforward: false
    
  frontend:
    paths:
      - front/src
    carryforward: false

# File ignore patterns
ignore:
  - "**/*.xml"          # Maven/build files
  - "**/*.properties"   # Configuration files
  - "**/target/**"      # Maven build output (except coverage)
  - "**/node_modules/**" # Node.js dependencies
  - "**/dist/**"        # Frontend build output
  - "**/build/**"       # Build artifacts
  - "**/.mvn/**"        # Maven wrapper
  - "**/mvnw"           # Maven wrapper scripts
  - "**/mvnw.cmd"       # Maven wrapper scripts
  - "**/*.md"           # Documentation
  - "**/.github/**"     # GitHub workflows
  - "**/public/**"      # Static frontend assets
  - "front/src/index.tsx"     # Entry point
  - "front/src/index.css"     # Global styles
  - "front/src/App.css"       # Component styles
  - "front/src/vite-env.d.ts" # Vite type definitions
  - "front/src/setupTests.ts" # Test setup
  - "**/*.config.js"    # Configuration files
  - "**/*.config.ts"    # Configuration files
  - "**/vite.config.ts" # Vite configuration
  - "**/tsconfig.json"  # TypeScript configuration
  - "**/jest.config.js" # Jest configuration

# Parsing configuration
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

# Pull request comments
comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: true
  require_base: no
  require_head: yes
  branches:
    - "main"
    - "develop"

# GitHub integration
github_checks:
  annotations: true

fix(codecov) Remove wait_for_ci option and adjust countdown/delay format
  codecov.yml
Due: none

Added Codecov (#20)
  .github/workflows/ci.yml
  codecov.yml
Due: none

(feat/dependabot) Edited dependabot config + created new dependabot helper workflow
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
Due: none

(feat/dependabot) Edited dependabot config + created new dependabot helper workflow (#21)
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
Due: none

(main) (hotfix) Fixed SonarScan on plugin
  .github/workflows/ci.yml
Due: none

fix: update SonarCloud analysis command with additional parameters for token, host URL, source encoding, and quality gate
  .github/workflows/snapshot.yml
Due: none

(hotfix/release-ci) (hotfix) Fixed release & snapshot pipelines
  .github/workflows/release.yml
  .github/workflows/snapshot.yml
Due: none

(feat/migrate-sonar-to-codeql) feat: Migrated Code Quality from SonarCloud to GitHub CodeQL
  .github/workflows/codeql.yml
  .idea/copilotDiffState.xml
  .idea/vcs.xml
  README.md
  front/index.html
  front/package-lock.json
  front/package.json
  front/sonar-project.properties
  front/src/components/CucumberReporter.tsx
  front/src/components/FeatureView.tsx
  front/src/components/MainContent.tsx
  front/src/components/ScenarioView.tsx
  front/src/components/StepView.tsx
  front/src/components/TabbedMainContent.tsx
  front/src/data/dataLoader.ts
  pom.xml
Due: frontend, React Frontend

feat: migrate from SonarCloud to CodeQL for code analysis
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  front/package-lock.json
  front/package.json
  front/sonar-project.properties
  pom.xml
Due: none

chore: remove sonar-scanner from package-lock.json and add minimist
  front/package-lock.json
Due: none

feat: migrate from SonarCloud to CodeQL for code analysis (#160)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  front/package-lock.json
  front/package.json
  front/sonar-project.properties
  pom.xml
Due: none

fix: enhance overflow handling in various components for better layout
  front/src/components/CucumberReporter.tsx
  front/src/components/FeatureView.tsx
  front/src/components/ScenarioView.tsx
  front/src/components/StepView.tsx
  front/src/components/TabbedMainContent.tsx
Due: frontend, React Frontend

fix: enhance overflow handling in various components for better layout (#166)
  front/src/components/CucumberReporter.tsx
  front/src/components/FeatureView.tsx
  front/src/components/ScenarioView.tsx
  front/src/components/StepView.tsx
  front/src/components/TabbedMainContent.tsx
Due: frontend, React Frontend

feat: update Core class to implement ConcurrentEventListener and enhance JSON report generation
  pom.xml
  src/main/java/io/github/nil_malh/cucumber/reportr/Core.java
  src/test/java/io/github/nil_malh/cucumber/reportr/CoreTest.java
Due: backend, Java Backend

feat: enhance Core class to improve JSON report generation and output stream handling
  src/main/java/io/github/nil_malh/cucumber/reportr/Core.java
Due: backend, Java Backend

feat: enhance Core class to improve JSON report generation and output stream handling
  src/main/java/io/github/nil_malh/cucumber/reportr/Core.java
  src/test/java/io/github/nil_malh/cucumber/reportr/CoreTest.java
Due: backend, Java Backend

Potential fix for pull request finding 'CodeQL / Potential output resource leak'
  src/test/java/io/github/nil_malh/cucumber/reportr/CoreTest.java
Due: backend, Java Backend
